<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    {{>NAV}}
    <div class="nice">
        <h1>{{PersonName}}'s info</h1>

            <form action="/changePW" method="post">
                <label class="loggInForm-label" for="oldpassword">Gamelt Passord</label><br>
                <input type="password" name="oldpassword" placeholder="Gamelt Passord"><br>
                <br>
                <label class="loggInForm-label" for="newpassword">Nytt Passord</label><br>
                <input type="password" name="newpassword" placeholder="Passord"><br>
                <br>
                <label class="loggInForm-label" for="newpassword2">skriv nytt på nytt Passord</label><br>
                <input type="password" name="newpassword2" placeholder="Passord"><br>
                <br>
                <input type="submit" value="Submit">
            </form>

            <table>
                <thead>
                    <tr>
                        <th>username</th>
                        <th>fornavn</th>
                        <th>etternavn</th>
                    </tr> 
                </thead>
                <tbody>
                    {{#each user}}
                        <form action="/userEDIT" method="post">
                            <input type="hidden" value="{{this.id}}" name="id"><br>
                            <td>{{this.username}}</td>
                            <td><input type="text" placeholder="{{this.Fornavn}}" name="Fornavn"></td>
                            <td><input type="text" placeholder="{{this.Etternavn}}" name="Etternavn">  </td>
                            <td><button type="submit"><img src="svg/save.svg" alt="save changes"></button> <br></td>
                        </form>


                </tbody>
            </table>
            <h1>vil du slette bruker en din?</h1>
            <form action="/userDEL" method="post">
                <input type="hidden" value="{{this.id}}" name="id">
                ja:<button type="submit"><img src="svg/trash.svg" alt="save changes"></button>
            </form>
            {{/each}}
            </div>
</body>
</html>